<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <php>
        <env name="API_HOST" value="https://api.test.trackmage.com" />
    </php>

    <testsuites>
        <testsuite name="tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./lib/Api</directory>
            <directory suffix=".php">./lib/Model</directory>
        </whitelist>
    </filter>
</phpunit>
